.poppins-font {
  font-family: "Poppins", sans-serif;
}

.height-banner {
  width: 100%;
  height: 90vh;
}

/* @media only screen and(max-width:576px) {
  
} */

.opacity-bg {
  filter: brightness(50%);
}
