.poppins-font {
  font-family: "Poppins", sans-serif;
}

.opacity-bg {
  filter: brightness(50%);
}

.height-banner {
  width: 100%;
  height: 90vh;
}

.images-size {
  height: 30px;
  width: 120px;
}

/* .course-img {
  height: 150px;
  max-width: 100%;
} */
